* {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

main {
    flex: 1;
}

.logo {
    text-decoration: none;
}
.navbar {
    border-bottom: 2px solid black;
    background-color: #4aa0d9;
    padding: 10px 40px;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    font-size: 10px;
    color: #e6e6e6;
}

.buscar {
    display: flex;
    justify-content: center;
    position: relative;
}

.buscar input {
    border: none;
    background: #4aa0d9;
    outline: none;
    border-radius: 20px;
    width: 80%;
    padding: 15px;
    color: #fff;
    font-size: 1em;
}

.buscar input::placeholder {
    color: #fff;
    font-weight: 700;
}

.buscar svg {
    fill: #fff;
    position: absolute;
    right: 10%;
    top: 20%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.card {
    border: 2px solid black;
    background-color: #00b8d4;
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.card img {
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
}

.card p {
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.card button {
    font-weight: bold;
    color: #062145;
    padding: 5px;    
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #588fb9;
    cursor: pointer;
}

.footer {
    border-top: 2px solid black;
    background-color: #4aa0d9;
    color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}